language: rust
services: docker

env:
  global:
    - CRATE_NAME=synchrotron
    - REDIS_BIN=/usr/bin/redis-server

matrix:
  include:
    # Linux
    - env: TARGET=aarch64-unknown-linux-gnu
    - env: TARGET=arm-unknown-linux-gnueabi
    - env: TARGET=armv7-unknown-linux-gnueabihf
    # This breaks when it goes to compile rust-crypto. *shrug*
    #- env: TARGET=i686-unknown-linux-gnu
    - env: TARGET=x86_64-unknown-linux-gnu

    # OSX
    - env:
        - TARGET=i686-apple-darwin
        - REDIS_BIN=/usr/local/bin/redis-server
      os: osx
    - env:
        - TARGET=x86_64-apple-darwin
        - REDIS_BIN=/usr/local/bin/redis-server
      os: osx

before_install:
  - set -e
  - rustup self update
  - rustup install nightly
  - rustup default nightly
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install redis; fi

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure:
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = nightly
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
